@tailwind base;
@tailwind components;
@tailwind utilities;

body {  
  font-family: "Roboto Flex" ,Arial, Helvetica, sans-serif;
  background-image: url("../public/pattern.svg");
}

@layer components{
  body{
    @apply bg-neutral-100 text-neutral-800
  }
}

.ubuntu{
  font-family: "Ubuntu";
}